.listButton {
    height: 41px;
    width: auto;
    padding-bottom: 9px;
    border-radius: 50px;
    border: none;
    margin-left: 10px;
    position: absolute;
    top: 20px;
    left: 15px;
}

.listButtonImage {
    height: 30px;
    width: auto;
    border: none;
    border-radius: 50px;
}

.listContainer {
    margin-top: 5px;
    display: flex;
    border: solid green 2px;
    flex-direction: column;
    min-height: 100vh;
    width: max-content;
    padding: 4px;
}

.listMember {
    list-style-type: none;
}

.listMemberButton {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2px;
    width: 100%;
    gap: 15px;
    border-radius: 8px;
    border: none;
}

.listMemberImage{
    height: 30px;
    width: 30px;
}

.listContainerSmall {
    margin-top: 5px;
    display: flex;
    border: solid green 2px;
    padding-right: 20px;
    flex-direction: column;
    min-height: 100vh;
    width: 60px;
}

.unorderedList {
    margin: 0px;
    padding: 0px;
}

.listMemberSmall {
    list-style-type: none;
}

.listMemberSmallButton {
    width: 71px;
    height: 55px;
    font-size: 10px;
}

.listMemberSmallImage {
    height: 30px;
    width: 30px;
}

.hr {
    border: none;
    height: 1.25px;
    width: 100%;
    margin: 20px auto;
    background-color: black;
}