.searchButton {
    padding-bottom: 9px;
    padding-right: 15px;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: solid rgb(87, 85, 85) 1px;
    order: 2;
}

.magnifyingGlass {
    max-height: 15px;
    max-width: auto;
}

.microphoneButton {
    margin-left: 25px;
    height: 41px;
    width: auto;
    padding-bottom: 9px;
    border-radius: 50px;
    border: none;
    margin-right: auto;
}

.microphoneImageStyle {
    height: 20px;
    width: 30px;
    border-radius: 20px;
}

.button {
    height: 41px;
    width: auto;
    margin-left: 10px;
    padding-bottom: 9px;
    border-radius: 50px;
    border: none;
}

.buttonImage {
    height: 20px;
    width: 30px;
    border: none;
}

.cardButton{
    margin-top: 5px;
    height: 35px;
    width: 40px;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-left: 6px;
}

.cardButtonImage{
    height: 30px;
    width: auto;
    border-radius: 50px;
    border: none;
}

.cardDotsButton{
    margin-top: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-left: auto;
    margin-right: 6px;
}

.cardDotsButtonImage{
    height: 25px;
    width: auto;
    border-radius: 50px;
    border: none;
}